/* button{
    padding-left: 40px;
    padding-right: 40px;
    outline: none;
    border-radius: 50px;
    color: white;
    border-style: none;
    background-color: black;
    transition: background-color .5s;
}

button:hover {
    background-color: lightslategray;
}


.answerBox{
    margin-top: 10%;
}

input{
    padding: 10px;
    width: 100%;
    margin: 10px;
    border-style: none;
    font-size: 30px;
    border-bottom: 1px solid black;
}

input:focus{
    outline: none;
} */