.usernames{
    text-align: center;
}


.sign-out{
    padding-left: 40px;
    padding-right: 40px;
    outline: none;
    border-radius: 50px;
    color: white;
    border-style: none;
    background-color: black;
    transition: background-color .5s;
}

.sign-out:hover {
    background-color: lightslategray;
}

.list-group-item{
    max-width: 525px;
    overflow: auto;
    white-space: nowrap;
}